APP_NAME=ow-aurora-pgvector-serverless
CDK_DEPLOY_REGION=ap-southeast-1
ENVIRONMENT=development

OWNER=OpenWorkspace-o1

VPC_ID=vpc-xxxxxxxx
VPC_SUBNET_TYPE=PRIVATE_ISOLATED
VPC_PRIVATE_SUBNET_IDS=subnet-xxxxxxxx,subnet-xxxxxxxx,subnet-xxxxxxxx
VPC_PRIVATE_SUBNET_AZS=ap-southeast-1a,ap-southeast-1b,ap-southeast-1c
VPC_PRIVATE_SUBNET_ROUTE_TABLE_IDS=rtb-xxxxxxxx,rtb-xxxxxxxx,rtb-xxxxxxxx

RDS_USERNAME=root
RDS_PASSWORD=password

RDS_DATABASE_NAME=default

RDS_PORT=5432
RDS_HOST=localhost
RDS_SECURITY_GROUP_ID=sg-xxxxxxxx

ARCHITECTURE=ARM_64 # ARM_64 or X86_64
EMBEDDING_MODEL_DIMENSIONS=1536 # The vector dimentions
PGVECTOR_DRIVER=psycopg

API_AUTHORIZATION_SECRET_KEY=1234567890
ALLOW_ORIGINS=https://example.com,https://example.com/api
